.tab-content .tab-pane .container-fluid {
    border: 1px solid lightgray;
}

.tab-content .tab-pane .container-fluid .container-fluid {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    background-color: whitesmoke;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-top: 10px;
}

.tab-content .tab-pane .container-fluid .table-responsive {
    padding: 25px;
}

.form-group {
    margin-bottom: 15px;
}

.text-center {
    margin-bottom: 0;
}

.col-2 {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.col {
    padding: 10px 36px 20px 35px;
    background-color: #F9F9F9;
}

.col-10 {
    margin-top: 15px;
    padding: 25px;
}

.label {
    padding-bottom: 0;
}

.center {
    display: block;
    margin: 0 auto;
}

.added .color {
    background-color: #EEDC82;
}

.edit .color {
    background-color: lightgray;
}

.delete .color {
    background-color: lightgray;
}


