<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styleAdmin.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
    <div class="container-fluid p-0">
        <a class="navbar-brand" href="#">
            <span class="font-weight-bold" th:text="${currentUser.email}"></span>
            <span>with roles:</span>
            <span th:text="${currentUser.getRolesToString()}"></span>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <row class="row">
        <div class="col-2">
            <ul class="nav flex-column nav-pills" id="lefTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="pill" href="#user" role="tab">User</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <div class="tab-content">
                <div div class="tab-pane active" id="user" role="tabpanel">
                    <span class="h1">User information-page</span>
                    <br>
                    <br>
                    <div class="container-fluid bg-white p-0">
                        <div class="container-fluid">
                            <span><h5>All users</h5></span>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped bg-white">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">FirstName</th>
                                    <th scope="col">LastName</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:utext="${currentUser.id}"></td>
                                    <td th:utext="${currentUser.firstName}"></td>
                                    <td th:utext="${currentUser.lastName}"></td>
                                    <td th:utext="${currentUser.age}"></td>
                                    <td th:utext="${currentUser.email}"></td>
                                    <td th:utext="${currentUser.getRolesToString()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </row>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>